/* [Todo] remove font-size and use theme font-size */
$FONT_BASE: 1rem; 
$FONT_SCALE: 1.15;

$FONT_SIZE_XXL: $FONT_BASE * $FONT_SCALE * $FONT_SCALE * $FONT_SCALE; 
$FONT_SIZE_XL: $FONT_BASE * $FONT_SCALE * $FONT_SCALE;
$FONT_SIZE_L: $FONT_BASE * $FONT_SCALE;
$FONT_SIZE_N: $FONT_BASE;
$FONT_SIZE_S: calc($FONT_BASE / $FONT_SCALE);
$FONT_SIZE_XS: calc($FONT_BASE / $FONT_SCALE / $FONT_SCALE);
$FONT_SIZE_XXS: calc($FONT_BASE / $FONT_SCALE / $FONT_SCALE / $FONT_SCALE);

$color-black: #0e0e0e;
$color-black-1: #333333;
$color-black-2: #000000;
$color-white: #ffffff;
$color-red: #ff444f;
$color-red-1: #ec3f3f;
$color-red-2: #cc2e3d;
$color-red-3: #a32430;
$color-red-4: #d33636;
$color-red-5: #eb3e48;
$color-red-6: #c03c03;
$color-grey: #c2c2c2;
$color-grey-1: #999999;
$color-grey-2: #f2f3f4;
$color-grey-3: #eaeced;
$color-grey-4: #e6e9e9;
$color-grey-5: #d6dadb;
$color-grey-6: #d6d6d6;
$color-grey-7: #f2f2f2;
$color-grey-8: #dedede;
$color-grey-9: #dddddd;


$color-green-1: #4bb4b3;
$color-green-2: #3d9494;
$color-green-3: #2e8836;
$color-green-4: #14602b;
$color-green-5: #85acb0;
$color-yellow: #ffad3a;
$color-orange-light: #e98024;
$color-blue-1: #377cfc;
$color-blue-2: #2a3052;
$notice-color: #fef1cf;

$alpha-color-black-1: transparentize($color-black-2, 0.28);
$alpha-color-black-2: transparentize($color-black-2, 0.92);
$alpha-color-white-1: transparentize($color-white, 0.04);
$alpha-color-red-1: transparentize($color-red, 0.92);
$alpha-color-green-1: transparentize($color-green-1, 0.08);
$gradient-color-green-1: linear-gradient(to top, $color-white, transparentize($color-green-1, 0.84));

$BORDER_RADIUS: 4px;

$MAX_CONTAINER_WIDTH: 1440px;

$POSITIONS_DRAWER_WIDTH: 240px;
$POSITIONS_DRAWER_MARGIN: 8px;

$HEADER_HEIGHT: 48px;
$FOOTER_HEIGHT: 36px;
$TOOLBOX_HEIGHT: 42px;

