@import 'Styles/devices';
@import 'Styles/constants-deriv';

@mixin toolbox-button-base {
    background-color: var(--brand-grey);
    color: var(--brand-black);
    padding: 0em;
    width: 40px;
    height: 40px;
    font-size: 1.500em;
}

@mixin toolbox-button-focus {
    outline: none;
}

@mixin toolbox-runButton-disabled {
    background-color: var(--brand-grey);
    color: var(--brand-grey-dark);
}

@mixin toolbox-runButton-hover {
    background-color: var(--toolbox-btn-active);
}

@keyframes animate-circle {
    0% { 
        transform: translate(-50%, -50%) scale(0);
    }
    50% { 
        transform: translate(-50%, -50%) scale(1);
    }
    100% { 
        transform: translate(-50%, -50%) scale(0);
    }
}

@keyframes animate-progress {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@keyframes animate-progress-complete {
    0% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}

@keyframes slide-tooltip {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#summaryPanel {
    border-radius: 4px;
    border: 1px solid var(--brand-grey);
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.1);
    .react-grid-Row .react-grid-Cell:last-child, 
    .react-grid-Row .react-grid-Cell:nth-last-child(2) {
        text-align: right;
    }
    .content-row {
        margin-bottom: 1em;
    }
    p {
        margin: 0em;
    }
    #sync-warning {
        font-size: 11px;
        color: #d3d3d3 ;
    }
    .summary-toolbox {
        text-align: center;
        position: relative;

        .toolbox-button {
            border-radius: 50%;
            margin: 0 auto 0.313em;
            @include toolbox-button-base;
            &:hover {
                @include toolbox-runButton-hover;
            }
            &[disabled], &[disabled]:hover {
                @include toolbox-runButton-disabled;
            }
        }
        .toolbox-button:focus {
            @include toolbox-button-focus;
        }
        #summaryClearButton {
            position: absolute;
            right: 10px;
        }
    }
}

#fileBrowser {
    width: 388px;
    height: 76px;
    margin-left: -194px;
    margin-top: -38px;
}

.draggable-dialog {

    .content {
        padding: 0 5px;
        background: var(--general-main-1);
        cursor: default;
        table {
            border: 1px solid var(--brand-grey);
        }
    }

    table {
        overflow: auto;
        width: 100%;
    }

    table,
    td,
    th {
        border-collapse: collapse;
    }

    td,
    th {
        text-align: center !important;
        padding: 3px !important;
        height: 2em;
        font-size: 11px;
    }

    #chart {
        width: 100%;
        height: 20em;
        border: 1px solid var(--brand-grey);
        border-radius: 3px;
    }
}

.dialog-content {
    padding: 0 15px 15px;
    background: var(--general-main-1);
    cursor: default;
}

.warn .react-grid-Cell {
    background: #fbeed5;
}
.success .react-grid-Cell {
    background: #dff0d8;
}
.error .react-grid-Cell {
    background: #f2dede;
}
.info .react-grid-Cell {
    background: #d9edf7;
}

.ui-widget {
    .react-grid-Main {
        outline: none;
    }
    .react-grid-Grid {
        border: 1px solid var(--brand-grey);
    }
    .react-grid-Cell {
        border-bottom: 1px solid var(--brand-grey);
        border-right: 1px solid var(--brand-grey);
    }
    .react-grid-HeaderCell {
        font-size: 11px;
        border-bottom: 1px solid var(--brand-grey);
        border-right: 1px solid var(--brand-grey);
        padding-left: 8px !important;
        display: flex !important;
        align-items: center;
    }
    .react-grid-Row {
        font-size: 11px;
    }
}

#tradeInfo {
    margin-bottom: 10px;
}

#chart-dialog-component {
    width: 100% !important;
}

.sc-search-input .searchInputClassName {
    font-size: 1rem;
    height: 1.85rem !important;
    margin-top: 0.25rem;
    font-family: 'IBM Plex Sans,sans-serif';
}

.form--sc-views__input .sc-input {
    font-size: 1rem;
    font-weight: 400;
}

.sc-btn.sc-btn--sm {
    font-size: 0.8rem;
    font-weight: 700;
    font-style: normal;
}

#trading-view-dialog-component {
    width: 100% !important;
}

.icon-close {
    width: 1.5em !important;
    height: 1.5em !important;
}

.ui-dialog-content {
    padding: 0px !important;

    &.ui-widget-content {
        input[type=text] {
            height: 40px;
            width: 100%;
        }
        .description {
            font-size: 75%;
            margin: 0.5em 0;
        }
        
    }
}

#load-dialog{
    .integration-option {
        margin: 0.5em;
    }
}

#integrations-dialog {
    .integration {
        display: table;
        width: 100%;

        h2 {
            color: var(--general-main-1);;
            font-size: 20px;
            margin: 0;
            margin-bottom: 0.2em;
        }
        .left {
            width: 60%;
            display: table-cell;
            vertical-align: top;
        }
        .right {
            width: 39%;
            display: table-cell;
            text-align: right;
            & > a {
                display: block;
            }
        }
        .integration-user {
            color: #b9b9b9;
            font-size: 75%;
        }
    }
}

.blocklyTreeRoot {
    padding-bottom: 42px;
}

@media (max-width: 768px) {
    .blocklyTreeRoot {
        padding-bottom: 0;
    }
}