.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}
.ui-dialog .ui-dialog-titlebar {
    padding: 0.4em 1em;
    position: relative;
}
.ui {
    &-widget {
        font-family: "Arial, Helvetica, sans-serif";
        font-size: 1em;
        &-header {
            border: 1px solid #2a3052;
            background: #2a3052;
            color: #fff;
            font-family: "roboto , sans-serif";
            font-weight: 400;
            &-content {
                border: 1px solid #ddd;
                background: #fff;
                color: #333;
            }
        }
    }
    &-front {
        z-index: 100;
    }
    &-dialog {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.2em;
        outline: 0;
    }
    &-icon {
        width: 16px;
        height: 16px;
        background-image: none !important;
        display: block;
        text-indent: -99999px;
        overflow: hidden;
        background-repeat: no-repeat;
        &-closethick {
            background-position: -96px -128px;
        }
    }
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-bottom-right-radius: 3px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    border-bottom-left-radius: 3px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    border-top-right-radius: 3px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    border-top-left-radius: 3px;
}

.ui-resizable {
    position: relative;
}

.ui-button {
    padding: 0 !important;
    float: right;
    &-icon-only .ui-icon {
        left: 50%;
        margin-left: -8px;
    }
}

.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
}
