.draggable {
    border: 1px solid rgb(0 0 0 / 12%);
    box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 8%);
    padding: 2px;
    z-index: 9999;
    border-radius: 4px;
    background: var(--general-main-1);
    user-select: none;

    .draggable-content {
        background: var(--general-main-1);
        &__header {
            cursor: move;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.4em 0.6em;
            background-color: var(--color-blue);
            color: #fff;
            border: 1px solid var(--color-blue);
            border-radius: 3px;
            &__title {
                font-size: 16px;
                font-weight: 700;
            }
            &__close {
                cursor: pointer;
            }
        }
        &__body {
            padding: 2px;
        }
    }

    .resizable-handle {
        &__top {
            position: absolute;
            width: 100%;
            height: 10px;
            top: -5px;
            left: 0;
            cursor: row-resize;
        }
        &__right {
            position: absolute;
            width: 10px;
            height: 100%;
            top: 0;
            right: -5px;
            cursor: col-resize;
        }
        &__bottom {
            position: absolute;
            width: 100%;
            height: 10px;
            bottom: -5px;
            left: 0;
            cursor: row-resize;
        }
        &__left {
            position: absolute;
            width: 10px;
            height: 100%;
            top: 0;
            left: -5px;
            cursor: col-resize;
        }
        &__top-left {
            position: absolute;
            width: 10px;
            height: 10px;
            top: -5px;
            left: -5px;
            cursor: nwse-resize;
        }
        &__top-right {
            position: absolute;
            width: 10px;
            height: 10px;
            top: -5px;
            right: -5px;
            cursor: nesw-resize;
        }
        &__bottom-right {
            position: absolute;
            width: 10px;
            height: 10px;
            bottom: -5px;
            right: -5px;
            cursor: nwse-resize;
        }
        &__bottom-left {
            position: absolute;
            width: 10px;
            height: 10px;
            bottom: -5px;
            left: -5px;
            cursor: nesw-resize;
        }
    }
}

.draggable.dragging {
    cursor: no-drop;
}
