.header {
    font-size: var(--font-size-n);
    font-family: var(--font-stack);

    &__acc-balance-wallet {
        color: var(--text-general) !important;
    }

    &__acc-balance {
        padding: 0 !important;
    }

    &__acc-info {
        gap: 0.5rem;

        .acc-info {
            &__wallets-container {
                position: relative;
                width: 4.5rem;
                height: 1.5rem;
            }
        }
    }
}
