.logpanel {
    .logtable {
        position: relative;
        top: -12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.log-table {
    &__header-container {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;

        .icon-save {
            padding: 0.2em;
            margin-right: 8px;
        }
    }
}
