@import '../../assets/css/mixins';
@import '../../assets/css/variables';

.deriv-app-modal {
    &__container {
        @include mobile {
            width: 100% !important;
            height: 100% !important;
        }
    }
}

.mv-dbot-banner {
    text-align: center;
    padding: 16px 24px;
    width: 440px;
    @include mobile {
        padding: 16px;
        width: 100%;
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 16px;

        @include mobile {
            font-size: var(--font-size-n);
        }
    }

    &__content {
        margin-top: 8px;
        font-size: var(--font-size-s);
        line-height: 20px;
        text-align: left;
        p {
            line-height: 20px;
        }
    }
    &__icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
    }

    &__orderd-list {
        margin: 0;
        padding: 0 16px;
    }
}
