.version-warning {
    position: fixed;
    background-color: #2a3052;
    font-size: 12px;
    bottom: 36px;
    width: 100%;
    height: 24px;
    z-index: 99999;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        color: #ffffff;
        text-decoration: underline;
    }
}
